# Bytecode and temp files
__pycache__/
*.py[cod]
*.log

# OS/IDE stuff
.DS_Store
.vscode/
Icon?
Thumbs.db

# Virtual environment
protein-expression-env/
.env

# Python packaging
*.egg-info/
build/
dist/

# Cache
.cache/
*.mypy_cache/
*.pytest_cache/

# Ignore all Data
data/*



# keep everything in the example directory
example/*.gitkeep

# Output and metadata
output/*


# Ignore user-specific config
config.json

# Jupyter checkpoints if any
.ipynb_checkpoints/
